/Converter.java
/FileOperation.java
/FileOperationContext.java
/FileSync.java
/ItemMetadata.java
/Metadata.java
/NetworkOperation.java
/NetworkOperationContext.java
/SyncNotifications.java
/SyncParams.java
/SynchronizationSettings.java
/SynchronizationState.java
